@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

html {
  margin: 5%;
  font-family: "본고딕 KR", "Noto Sans KR", "맑은 고딕", "Malgun Gothic",
    sans-serif;
  font-size: 16px;
}

table {
  page-break-inside: avoid !important;
}

th,
td {
  text-align: center;
}

th {
  background-color: lightgray;
}

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

#title {
  font-size: 1.5em;
}

.head td {
  border: 1px solid #e0e0e0;
  padding-top: 0;
  padding-bottom: 0;
}

.head p {
  font-weight: bold;
}
